body,html {
    margin: 0;
    scroll-behavior: smooth;
}

h1 {
    background: red;
    height: 50px;
    font-size: 30px;
}

ul a{
    text-decoration: none;
    color: olivedrab;
}

li {
    list-style-type: none;
}

p {
    background: black;
    color: silver;
    font-size: 18px;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}

ul a:hover {
    color: darkblue;
}

.menu {
    display: flex;
    font-size: 25px;
    justify-content: space-evenly;
}

.person {
    margin: 50px 0 0 100px;
    display: block;
    justify-content: center;
    border: 3px solid black;
    width: 400px;
    background: black;
}

.person img{
    background-size: cover;
    width: 400px;
}

